@using Data.AboutMePage

    <ul class="social-links">
        @foreach (var link in Links)
        {
            <li>
                <a class="tip social-button" href="@link.Url" target="_blank" title="@link.Title">
                    <i class="@link.IconClass"></i>
                </a>
            </li>
        }
    </ul>

@code 
{
    [Parameter]
    public ICollection<SocialLink> Links { get; set; }
}
