@using Data.ResumePage

<div class="block-title">
    <h3>Certification</h3>
</div>
<div class="timeline">
    @foreach (var certification in Certifications)
    {
        <!-- Single event -->
        <div class="timeline-event te-primary">
            <h5 class="event-date">@certification.Period</h5>
            <h4 class="event-name">@certification.Title</h4>
            <span class="event-description">@certification.Authority</span>
            <p>@certification.Description</p>
        </div>
    }
</div>

@code
{
    [Parameter]
    public ICollection<Certification> Certifications { get; set; } = new List<Certification>();
}
