@using Data.ResumePage

<div class="block-title">
    <h3>@Title</h3>
</div>
<div class="skills-info">
    @foreach (var skill in Skills)
    {
        <h4>@skill.Title</h4>
        <div class="skill-container">
            <div class="skill-percentage" style=" width: @(ShowPercentage? skill.Percentage : 0)%"></div>
        </div>
    }
</div>

@code
{
    [Parameter] public string Title { get; set; }
    [Parameter] public ICollection<Skill> Skills { get; set; }

    public bool ShowPercentage { get; set; } = false;

    protected override void OnInitialized()
        => StartShowPercentageAnimation();

    public async void StartShowPercentageAnimation()
    {
        await Task.Delay(1);

        ShowPercentage = true;

        StateHasChanged();
    }
}
